.mainDashboard {
  padding-top: 159px;
  padding-bottom: 88px;
}

.mainWrapper {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.wrapperCharts {
  width: 70%;
  margin-left: 224px;
  margin-right: 31px;
}

.wrapperSmallCharts {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 77px;
  margin-bottom: 0rem;
  gap: 32px;
}

.wrapperInfoSection {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 90px;
  margin-top: 77px;
}