@import '../utils/_variables-colors.scss';

.dashboardHeader {
    margin-left: 12%;
    .firstname {
        color: $color-fonts-3;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    
    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}
