@import '../utils/_variables-colors.scss';
.mainHome {
    background-color: #dfdfdf;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHome h1,
p {
    color: $color-fonts-1;
}

.WrapperFormulaire {
    width: 450px;
    border-radius: 5px;
}

.btnNavigate {
    display: block;
    margin: 20px auto;
    outline: 0;
    background-color: $color-bg-3;
    color: $color-fonts-1;
    font-weight: bolder;
    width: 90%;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btnNavigate:hover {
    background-color: $color-bg-hover-3;
}


.WrapperFormulaire fieldset {
    background-color: #dfdfdf;
}

.WrapperFormulaire fieldset legend {
    color: $color-fonts-1;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
}

.wrapperInput {
    width: 50%;
}

.wrapperInput label {
    color: $color-fonts-1;
    margin-right: 5px;
}

.wrapperInput input {
    margin-right: 15px;
}