.mainHome {
    background-color: var(--color-bg-white-2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHome h1,
p {
    color: var(--color-fonts-black);
    font-family: var(--fonts-familly-1);
}

.WrapperFormulaire {
    width: 450px;
    border-radius: 5px;
}

.btnNavigate {
    display: block;
    margin: 20px auto;
    outline: 0;
    background-color: var(--color-bg-primary);
    color: var(--color-fonts-black);
    font-family: var(--fonts-familly-1);
    font-weight: bolder;
    font-size: 24px;
    width: 90%;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btnNavigate:hover {
    background-color: var(--color-bg-hover-primary);
}

.WrapperFormulaire fieldset {
    background-color: var(--color-bg-white-2);
}

.WrapperFormulaire fieldset legend {
    color: var(--color-fonts-black);
}

.radio-buttons {
    display: flex;
    flex-direction: row;
}

.wrapperInput {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapperInput p {
    text-align: center;
}

.wrapperInput div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapperInput label {
    color: var(--color-fonts-black);
    margin-right: 5px;
}

.wrapperInput input {
    margin-right: 15px;
}