.headerNavbar {
    position: fixed;
    width: 100%;
    height: 91px;
    left: 0px;
    top: 0px;
    background: var(--color-bg-black);
    box-shadow: var(--color-box-Shadow);
    z-index: 99;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.navbarLinkLogo {
    width: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    height: 69px;
    width: auto;
}

.navbarWrapperLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linkNavbar {
    text-decoration: none;
    font-family: var(--fonts-familly-1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-fonts-white);
}