.headerNavbar {
    min-height: 20%;
    margin: 0;
    padding: 0;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-1);
}

.navbarLinkLogo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbarLogo {
    height: 57px;
    width: auto;
}

.navbarWrapperLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linkNavbar {
    color: var(--color-fonts-2);
    text-decoration: none;
    font-family: var(--fonts-familly-1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}