

.dashboardHeader .firstname {
    color: var(--color-fonts-primary);
}

.dashboardHeader h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 41px;
}

.dashboardHeader p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}