/* Background colors */
$color-bg-1 : #000000;
$color-bg-2 : #ffffff;
$color-bg-3 : #ff0101b7;

/* Background hover */
$color-bg-hover-3: #ff0101b7;

/*Fonts color */

$color-fonts-1: #000000;
$color-fonts-2: #ffffff;
$color-fonts-3: #ff0101;

/* fonts familly */

$fonts-familly-1: 'Roboto';