.ScoreWrapper {
  position: relative;
  width: 33%;
  height: 263px;
  border-radius: 5px;
  margin-right: 5px;

  background-color: var(--color-bg-white-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ScoreTitle {
  color: var(--color-fonts-secondary);
  position: absolute;
  font-weight: 600;
  font-size: 1rem;
  top: 10%;
  left: 10%;
}

.ScoreLegend {
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  bottom: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ScoreLegend p {
  margin: 0;
  text-align: center;
}

.scoreLabel {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-fonts-grey-secondary);
}

.scoreLabelText {
  color: var(--color-fonts-grey-primary);
}