.boxNutritional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: var(--color-bg-white-3);
  border-radius: 5px;
  -webkit-box-shadow: var(--color-box-Shadow-2);
          box-shadow: var(--color-box-Shadow-2);
  height: 124px;
  width: 258px;
  border-radius: 5px;
}

.boxNutritional img {
  width: 60px;
  height: 60px;
  margin-left: 32px;
}

.textBoxNutritional {
  margin-left: 24px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  
}
.textvalue {
  margin: 0;
  font-size: 1.25em;
  font-weight: 700;
  color: var(--color-fonts-grey-secondary);
}

.paraphNutritional {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0;
  color: var(--color-fonts-grey-primary);
}