.verticalMenu {
    background: var(--color-bg-black);
    box-shadow: var(--color-box-Shadow);
    bottom: 0;
    width: 117px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.wrapper-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 208px;
}

.iconVerticalMenu {
    width: 64px;
    margin-bottom: 20px;
}

.verticalMenuCopyright {
    height: auto;
    width: 12.5rem;
    margin-bottom: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
}

.verticalCopyright {
    color: var(--color-fonts-white);
    margin: 0;
    font-family: var(--fonts-familly-1);
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
}

@media (max-width: 1290px)  {
    .verticalMenu {
        width: 90px;
        
    }
}