.verticalMenu {
    background: var(--color-bg-black);
    -webkit-box-shadow: var(--color-box-Shadow);
            box-shadow: var(--color-box-Shadow);
    bottom: 0;
    width: 117px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
}

.wrapper-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 208px;
}

.iconVerticalMenu {
    width: 64px;
    margin-bottom: 20px;
}

.verticalMenuCopyright {
    height: auto;
    width: 12.5rem;
    margin-bottom: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.verticalCopyright {
    color: var(--color-fonts-white);
    margin: 0;
    font-family: var(--fonts-familly-1);
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
}

@media (max-width: 1290px)  {
    .verticalMenu {
        width: 90px;
        
    }
}